version: '3.8'

services:
  app_backend:
    image: app_backend_img
    build: ./hello_actix
    container_name: app_backend
    ports:
      - "9876:9876"
    depends_on:
      - app_db
      - app_cache
    environment:
      - DATABASE_URL=postgres://user:password@app_db:5432/jokes_db
      - REDIS_URL=redis://app_cache:6379
      - OIDC_JWKS=http://keycloak:8080/realms/app-template/protocol/openid-connect/certs
    networks:
      - app_network

  app_frontend:
    image: app_frontend_img
    build: ./hello_frontend
    container_name: app_frontend
    ports:
      - "8080:80"
    depends_on:
      - app_backend
    networks:
      - app_network

  app_db:
    image: postgres:15-alpine
    container_name: app_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: jokes_db
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app_network

  app_cache:
    image: valkey/valkey:latest
    container_name: app_cache
    networks:
      - app_network

  keycloak:
    build: ./keycloak
    container_name: keycloak
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://app_db:5432/keycloak
      KC_DB_USERNAME: user
      KC_DB_PASSWORD: password
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8180:8080"
    depends_on:
      - app_db
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
